# Data Science Tools and Ecosystem

## Autor

José Diego Álvarez Sánchez

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used in Data Science.
- List commonly used libraries in Data Science. 
- Create a table with Data Science tools.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot2

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
hours = 200/60
print(hours)

3.3333333333333335